.containerEmptyCart {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 39px;
}

.containerEmptyCart .titleEmptyCart {
  font-size: 36px;
  line-height: 32px;
  margin-top: 45px;
  margin-bottom: 40px;
}

.containerEmptyCart .descriptionEmptyCart {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
  font-weight: bold;
}

.bigIConCart {
  font-size: 10rem;
  margin-top: -48px !important;
  color: rgba(169, 177, 245, 0.75);
}