.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: #fff;

  .nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    gap: 3rem;
  }

  .all,
  .fire,
  .water,
  .ground,
  .pokedex {
    text-decoration: none;
    color: #a19d9d;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 8px;
    font-weight: bold;
    border-radius: 8px;

    &:hover {
      border: 1px solid #f0cece;
      color: #2e2e2e;
    }

    &:focus {
      border: 1px solid #f0cece;
      color: #2e2e2e;
    }
  }
}

.mobile-menu-icon {
  display: none;
}

.nav-links-mobile {
  display: none;
}

//MEDIA
@media screen and (max-width: 768px) {
  .nav-logo {
    display: flex;
    position: absolute;
    margin-left: -75px;
    margin-top: -48px;
  }

  .nav-links {
    display: none !important;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background: #fff;
    right: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 50%;
  }

  .all,
  .fire,
  .water,
  .ground,
  .pokedex {
    color: #141414 !important;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
    font-weight: bold;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: #141414;
    border: none;
    outline: none;
    right: 25px;
    top: 22px;
    background: transparent;
  }
}

.nav-logo {
  width: 50px;
  cursor: pointer;
}

.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-right ul .a {
  text-decoration: none;
  color: #c7c7c7;
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}

.navbar-right ul li .a:hover {
  border: 1px solid rgba(169, 177, 245, 0.75);
  color: #141414;
}

.navbar-right {
  transition: 0.3s;
}

.iconCart {
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  font-size: 35px;
  display: inline-block;
  text-transform: none;
  margin-right: 1px;
  margin-top: -25px;
  transition: 0.3s;
}

.iconCart:hover {
  transform: translateY(-0.5rem);
  transform: rotate(-50deg);
  cursor: pointer;
}

.count {
  width: 16px;
  height: 16px;
  background: transparent;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}