.productSection {
  margin-top: 6rem;
}

.lightbox {
  position: relative;
  margin: auto;
}

.lightbox .product-here {
  width: 30rem;
}

.lightbox .previous {
  left: 4%;
}

.lightbox .previous:hover {
  left: 3%;
}

.lightbox .next {
  right: 4%;
}

.lightbox .next:hover {
  right: 3%;
}

.lightbox .arrow {
  position: absolute;
  top: 30%;
  background-color: white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lightbox .thumb-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.lightbox .thumb-gallery .pic {
  display: flex;
  width: 20%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  border-radius: 1rem;
}

.lightbox .thumb-gallery .pic img {
  width: 100%;
}

.lightbox .thumb-gallery .pic img:hover {
  opacity: 0.75;
}

.lightbox .thumb-gallery .active {
  border: 2px solid #68707d;
}

.lightbox .thumb-gallery .active img {
  opacity: 0.5;
}

.product {
  padding: 0.5rem 0rem 3rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: -50px;
  margin-top: -50px;
}

.product .company-name {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #ff7d1a;
  letter-spacing: 0.18rem;
  margin-top: -38px;
  margin-left: 14px;
  margin-bottom: 60px;
}

.product .title {
  color: #1d2025;
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 118%;
}

.product .description {
  font-size: 20px !important;
  color: #68707d;
  line-height: 165%;
  margin-top: 1.6rem;
  margin-bottom: 30px;
  margin-top: -20px;
  margin-left: 20px;

}

.product .image {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -10px;
}

.product .price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 30px;
}

.product .price-wrapper .group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product .price-wrapper .group .price {
  font-size: 2rem;
  font-weight: 700;
}

.product .price-wrapper .group .discount {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff7d1a;
  background-color: #ffede0;
  margin-left: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.product .price-wrapper .old-price {
  font-size: 1.7rem;
  font-weight: 700;
  color: #b6bcc8;
  text-decoration: line-through;
}

.count {
  margin-right: -10px;
  margin-top: -62px;
  font-size: 17px;
  color: red;
}

//MEDIA
@media screen and (min-width: 1280px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 5rem;
    margin-top: -8rem;
  }

  .lightbox {
    width: 30%;
  }

  .lightbox .product-here {
    border-radius: 1.5rem;
  }

  .lightbox .previous,
  .lightbox .next {
    position: absolute;
    top: 30%;
    background-color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .lightbox .thumb-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .lightbox .thumb-gallery .pic {
    display: flex;
    width: 20%;
    height: fit-content;
    overflow: hidden;
    border-radius: 1rem;
  }

  .lightbox .thumb-gallery .pic img {
    width: 100%;
  }

  .lightbox .thumb-gallery .pic img:hover {
    opacity: 0.75;
  }

  .lightbox .thumb-gallery .active {
    border: 2px solid #68707d;
  }

  .lightbox .thumb-gallery .active img {
    opacity: 0.5;
  }

  .product {
    width: 100%;
  }

  .product .title {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .product .description {
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  .product .description::before {
    content: "";
    white-space: pre;
  }

  .product .price-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.4rem;
    gap: 0.8rem;
  }
}

@media screen and (min-width: 640px) {
  .lightbox .product-here {
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .lightbox .product-here {
    width: 20rem;
  }

  .lightbox .thumb-gallery .pic {
    display: flex;
    width: 15%;
    height: fit-content;
    overflow: hidden;
    border-radius: 1rem;
    margin: auto;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .product .description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px !important;
    margin-top: -30px !important;
  }

  .count {
    margin-top: -59px !important;
    margin-right: 47px !important;
    font-size: 15px;
    color: red;
  }
}